body {
    max-width: 1024px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: red;
    margin: 0 auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}

.header {
    margin-bottom: 2.5%;
}

.parent {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.innerOverlay {
    position: absolute;
    width: 30%;
    right: 40%;
    bottom: 50%;
    top: 30%;
    left: 35%;
}

h5, h6 {
    margin-top: 2.5%;
    color: #777;
}

.mainDisplay {
    background-color:mediumseagreen;
    max-width: 90%;
}

.activeWords {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    color: #777;
}

#revealedAnswerDisplay {
    color: red;
}

#guessesMadeDisplay {
    font-size: 0.8em;
}

.correct {
    color: green;
    font-weight: bold;
}

/*
Media queries for viewports 768px or smaller.
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {

    /* Hamburger Nav Styling Corrections */
    p.ml-2.text-left.mobileBoard, p.mr-2.text-right.mobileBoard {
        text-align: center !important;
    }

    p.mr-2.text-right.mobileBoard {
        margin-bottom: 10px;
    }

    div.mx-auto.jumbotron.mainDisplay {
        padding: 10px 16px 10px 16px !important;
    }
    
    h6 {
        font-size: 0.75em;
    }

    .header {
        margin-bottom: 20px;
    }

    .activeWords, h5 {
        font-size: 12px;
    }
}